@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url('./Lato-300.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./Lato-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./Lato-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: url('./Playfair Display-400-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('./Playfair Display-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 600;
  src: url('./Playfair Display-600.woff2') format('woff2');
  font-display: swap;
}
